.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 400px;
  height: 115px;
  width: 30%;
  position: relative;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
}

.contact {
  height: 115px;
  display: flex;
  align-items: flex-end;

  font-size: 1.125rem;
  color: black;
}

@media (max-width: 1000px) {
  .logo {
    max-width: 250px;
    width: 60%;
  }
}
