.main {
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
  height: auto;
  overflow-x: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 400px;
  height: 115px;
  width: 30%;
  position: relative;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
}

.logoLink {
  z-index: 1;
  width: 24%;
  height: 24%;
  bottom: -1%;
  right: -1%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

.countdown {
  font-size: 1.75rem;
}

.videoWrapper {
  width: 50%;
  height: auto;
  aspect-ratio: 16 / 9;
  margin-top: 6rem;
  position: relative;
}

.videoWrapper:last-child {
  margin-bottom: 6rem;
}

.videoThumbnailWrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  place-items: center;
  cursor: pointer;
  display: none;
}

.videoThumbnailPlay {
  position: absolute;
  top: 40%;
  z-index: 2;
  width: 10%;
}

.videoEmbedWrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.contact {
  height: 115px;
  display: flex;
  align-items: flex-end;

  font-size: 1.125rem;
  color: black;
}

@media (max-width: 800px) {
  .logo {
    max-width: 250px;
    width: 60%;
  }

  .videoWrapper {
    width: 100%;
    height: auto;
    margin-top: 4rem;
  }

  .videoWrapper:last-child {
    margin-bottom: 4rem;
  }

  .videoThumbnailWrapper {
    display: grid;
  }

  .videoEmbedWrapper {
    display: none;
  }
}
